apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  mongo-uri: "mongodb://{{ .Values.mongodb.username }}:{{ .Values.mongodb.password }}@{{ .Release.Name }}-mongodb-svc:{{ .Values.service.mongodb.port }}/{{ .Values.mongodb.database }}"
  mongo-username: {{ .Values.mongodb.username }}
  mongo-password: {{ .Values.mongodb.password }}
